<!DOCTYPE html>
<html>
<head>
  <title>EduCurio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render partial: "shared/header" %>
<%= render partial: "shared/message" %>

<main>
  <div class="container">
    <%= yield %>
  </div>
</main>

<%= render partial: "shared/footer" %>

</body>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.side-nav').sideNav();
        $(".button-collapse").sideNav();
        $(".dropdown-trigger").dropdown();
    });
</script>
</html>
